@charset "UTF-8";
/* STICKY HEADER
======================================================================================================================== */
.masthead--sticky .masthead__wrapper {
  transition: top 0.6s ease-out;
  position: static;
  top: -400px;
  /* this is to solve everything */
}
.masthead--sticky .masthead__wrapper.before-sticky {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  background: white;
  border: 0 solid;
}
.masthead--sticky .masthead__wrapper.before-sticky .header56__section,
.masthead--sticky .masthead__wrapper.before-sticky .header56__section > .container {
  border: 0;
}
.masthead--sticky .masthead__wrapper.before-sticky .disable--sticky {
  display: none;
}
.masthead--sticky .masthead__wrapper.is-sticky {
  top: 0;
}

.admin-bar .masthead--sticky .masthead__wrapper.is-sticky {
  top: 32px;
}

/* search
======================================================================================================================== */
.search-wrapper-modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99999999999;
  background: white;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out;
}

.search-modal-close-btn {
  position: absolute;
  top: 6%;
  right: 6%;
  z-index: 99;
  display: block;
  font-size: 28px;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.search-wrapper-modal .container {
  display: flex;
  height: 100%;
}

html.in-modal-search56 .search-wrapper-modal {
  display: block;
  opacity: 1;
  visibility: visible;
}

/* ------------------------------       modal search content */
.modal-search-content {
  display: block;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  flex: none;
  margin-top: 15%;
}

.modal-search-content .s {
  display: block;
  width: 100%;
  font-size: 24px;
  height: 50px;
  line-height: 50px;
}
.modal-search-content .searchform .submit {
  font-size: 20px;
  text-align: center;
}

.search-suggestion {
  margin: 40px 0 0;
}
.search-suggestion h4 {
  margin: 0 0 1em;
  font-size: 0.8em;
  color: #999;
  font-weight: 400;
  display: block;
}
.search-suggestion nav {
  display: block;
}
.search-suggestion ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}
.search-suggestion nav a {
  color: inherit;
  text-decoration: none;
}
.search-suggestion nav a:hover {
  text-decoration: underline;
}
.search-suggestion nav li {
  display: inline-block;
  font-size: 1.1em;
}
.search-suggestion nav li + li:before {
  content: "·";
  margin: 0 0.9em;
  opacity: 0.5;
}
.search-suggestion nav li,
.search-suggestion h4 {
  transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
  transition-delay: 0.46s;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 10px);
}
.search-suggestion h4 {
  transition-delay: 0.25s;
}
.search-suggestion nav li:first-child {
  transition-delay: 0.3s;
}
.search-suggestion nav li:nth-child(2) {
  transition-delay: 0.35s;
}
.search-suggestion nav li:nth-child(3) {
  transition-delay: 0.3s;
}
.search-suggestion nav li:nth-child(4) {
  transition-delay: 0.42s;
}
.search-suggestion nav li:nth-child(5) {
  transition-delay: 0.44s;
}

.in-modal-search56 .search-suggestion nav li,
.in-modal-search56 .search-suggestion h4 {
  transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
}

/* ------------------------------       toggle search */
.header56__search__inner {
  position: relative;
}
.header56__search__inner .search-wrapper-toggle {
  position: absolute;
  top: calc(100% + 5px);
  width: 280px;
  z-index: 99;
}

.search-wrapper-toggle {
  display: none;
}
.search-wrapper-toggle.shown {
  display: block;
}

.header56__part--right .header56__search__inner .search-wrapper-toggle {
  right: -10px;
}

.header56__part--center .header56__search__inner .search-wrapper-toggle {
  right: -130px;
}

.header56__part--left .header56__search__inner .search-wrapper-toggle {
  left: -10px;
}

/* OFF CANVAS
======================================================================================================================== */
.offcanvas56 {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 99999999;
  background: white;
  padding: 16px;
  width: 320px;
  margin-top: 0;
  transform: translate(-102%, 0);
  transition: transform 0.2s;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
@media only screen and (max-width: 600px) {
  .offcanvas56 {
    top: 54px;
    width: 100%;
  }
}

.offcanvas56::-webkit-scrollbar {
  display: none;
}

.offcanvas56__overlay {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease-out;
  display: block;
}

html.on-offcanvas,
html.in-offcanvas-permanent {
  /*
  // fixed when open the offcanvas menu
  .mobile-header56-outer {
      position: fixed;
  }
  */
}
html.on-offcanvas .offcanvas56,
html.in-offcanvas-permanent .offcanvas56 {
  transform: translate(0, 0);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 600px) {
  html.on-offcanvas .offcanvas56,
  html.in-offcanvas-permanent .offcanvas56 {
    box-shadow: none;
    width: 100%;
  }
}
html.on-offcanvas .offcanvas56__overlay,
html.in-offcanvas-permanent .offcanvas56__overlay {
  display: block;
  opacity: 1;
  visibility: visible;
}
@media only screen and (max-width: 600px) {
  html.on-offcanvas .offcanvas56__overlay,
  html.in-offcanvas-permanent .offcanvas56__overlay {
    display: none;
  }
}
html.on-offcanvas .hamburger .icon-close,
html.in-offcanvas-permanent .hamburger .icon-close {
  display: block;
}
html.on-offcanvas .hamburger .icon-menu,
html.in-offcanvas-permanent .hamburger .icon-menu {
  display: none;
}

/* offcanvas nav
------------------------------------------------------------ */
.offcanvasnav56 {
  /* border top problem */
}
.offcanvasnav56 ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}
.offcanvasnav56 a {
  display: block;
  color: inherit;
  text-decoration: none;
  line-height: 46px;
  position: relative;
}
.offcanvasnav56 ul.sub-menu {
  display: none;
  margin-left: 20px;
}
.offcanvasnav56 li {
  border-top: 0 solid;
}
.offcanvasnav56 ul.sub-menu {
  border: 0;
}
.offcanvasnav56 ul ul li {
  border: 0;
}
.offcanvasnav56 li + li {
  border-top: 1px solid;
}

.offcanvas56__element + .offcanvas56__element {
  margin-top: 20px;
}

/* -----------------------      dropdown indicator */
.offcanvasnav56 .mk {
  text-decoration: none;
  font-style: normal;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 99;
  width: 32px;
  height: 32px;
  font-size: 24px;
  text-align: center;
  line-height: 32px;
  text-align: center;
  /* ic56- */
  font-family: "icon56" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 32px;
}
.offcanvasnav56 .mk:before {
  content: "\e90f";
}
.offcanvasnav56 li.menu-item-has-children > a > .mk {
  display: block;
}
.offcanvasnav56 li.active > a > .mk:before {
  content: "\e90d";
}
.offcanvasnav56 a[href]:not([href^=http]) .mk,
.offcanvasnav56 a:not([href]) .mk {
  position: absolute;
  width: 100%;
  text-align: right;
  padding-right: 12px;
}

/* -----------------------      2 columns */
.nav--cols-2 ul.menu {
  display: flex;
  flex-flow: row wrap;
}
.nav--cols-2 ul.menu > li {
  width: 50%;
}
.nav--cols-2 ul.menu > li:nth-child(2) {
  border-top: 0 !important;
}

/* offcanvas with animation
------------------------------------------------------------ */
.offcanvas56--hasanimation .offcanvasnav56 ul.menu > li,
.offcanvas56--hasanimation .offcanvas56__social,
.offcanvas56--hasanimation .offcanvas56__search,
.offcanvas56--hasanimation .offcanvas56__html1,
.offcanvas56--hasanimation .offcanvas56__html2,
.offcanvas56--hasanimation .offcanvas56__html3,
.offcanvas56--hasanimation .offcanvas56__button1,
.offcanvas56--hasanimation .offcanvas56__button2,
.offcanvas56--hasanimation .widget {
  display: block;
  transform: translate(0, 20px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out;
}

html.on-offcanvas .offcanvasnav56 ul.menu > li,
html.on-offcanvas .offcanvas56__social,
html.on-offcanvas .offcanvas56__search,
html.on-offcanvas .offcanvas56__html1,
html.on-offcanvas .offcanvas56__html2,
html.on-offcanvas .offcanvas56__html3,
html.on-offcanvas .offcanvas56__button1,
html.on-offcanvas .offcanvas56__button2,
html.on-offcanvas .widget,
html.in-offcanvas-permanent .offcanvasnav56 ul.menu > li,
html.in-offcanvas-permanent .offcanvas56__social,
html.in-offcanvas-permanent .offcanvas56__search,
html.in-offcanvas-permanent .offcanvas56__html1,
html.in-offcanvas-permanent .offcanvas56__html2,
html.in-offcanvas-permanent .offcanvas56__html3,
html.in-offcanvas-permanent .offcanvas56__button1,
html.in-offcanvas-permanent .offcanvas56__button2,
html.in-offcanvas-permanent .widget {
  transform: translate(0, 0);
  opacity: 1;
  visibility: visible;
}

/* switcher
------------------------------------------------------------ */
.offcanvas56__darkmode-switcher {
  display: inline-block;
}/*# sourceMappingURL=header-below.css.map */